*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  /** Generated colors from colorffy.com */
  /** Base colors*/
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #83f0f2;
  --clr-primary-a10: #94f2f3;
  --clr-primary-a20: #a3f4f5;
  --clr-primary-a30: #b2f6f6;
  --clr-primary-a40: #c0f7f8;
  --clr-primary-a50: #cdf9f9;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /* Answers colors */
  --correct-green: #4CAF50;
  --incorrect-red: #F44336;

  box-sizing: border-box;
  color: var(--clr-light-a0);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
}

body {
  background-color: var(--clr-dark-a0);
}

main {
  background-color: var(--clr-dark-a0);
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Trivia Info and Other Text*/
.location-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.location-container h1 {
  font-size: 1.8em;
  color: var(--clr-primary-a0);
  margin-bottom: 10px;
}

.location-container p {
  font-size: 1em;
  margin-bottom: 20px;
}

.trivia-container {
  background-color: var(--clr-surface-a10);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 90%;
  min-height: 50px;
  font-size: 1.1em;
  text-align: left;
}

.trivia-container p {
  margin-bottom: 8px;
}

.trivia-container p.question-text strong {
  color: var(--clr-primary-a10);
}

.trivia-container p.answer-correct {
  color: var(--correct-green);
  font-weight: bold;
}

.trivia-container p.answer-incorrect {
  color: var(--incorrect-red);
  font-weight: bold;
}

.trivia-container p.score-text {
  margin-top: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--clr-primary-a0);
}

/* Map and Container*/
.map-container {
  flex-grow: 5;
  padding: 10px;
}

#map {
  height: 100%;
  width: 100%;
}
